<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuizAedes"
        tools:targetApi="31">
        <activity
            android:name=".ui.telas_explicativas.RecompensasActivity"
            android:exported="false" />
        <activity
            android:name=".ui.telas_explicativas.SejaBemVindoActivity"
            android:exported="false" /> <!-- Declaração do MusicService -->
        <service
            android:name=".services.MusicService"
            android:exported="false" /> <!-- SplashActivity como atividade inicial -->
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Outras atividades -->
        <activity
            android:name=".ui.login.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.configuracoes.ConfiguracoesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.perfil.PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ranking.RankingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.conquistas.ConquistasActivity"
            android:exported="false" />
        <activity
            android:name=".ui.perguntas.PerguntasActivity"
            android:exported="false" />
        <activity
            android:name=".ui.inicio.InicioActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cadastro.CadastroActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true" />
        <activity
            android:name=".ui.gameover.GameOverActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splash.CountdownActivity"
            android:exported="false" />
    </application>

</manifest>